{%extends 'login.html'%}
<head>
    <title>
        {%block title%}
           insert page
        {%endblock%}
    </title>
</head>

 {%block content%}
             <h1>insert</h1>
{%endblock%}
<table border="1" width="100%">
   <tr>
{%extends 'login.html'%}
<head>
    <title>
        {%block title%}
           insert page
        {%endblock%}
    </title>
</head>

 {%block content%}
             <h1>insert</h1>
{%endblock%}
<table border="1" width="100%">
   <tr>
        <td colspan="2">

            <a href="/insert">insert</a>

        </td>

    </tr>
</table>